<!doctype html>
<html class="antialiased bg-white dark:bg-gray-950 has-open:overflow-hidden" lang="en">
	<head>
		{% include 'site-head.njk' %}
	</head>
	<body class="font-sans" x-data="{ navIsOpen: false }">
		<script>
			;(function () {
				if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
					var icons = document.getElementsByClassName('js-favicon')
					for (var i = 0; i < icons.length; i++) {
						icons[i].setAttribute(
							'href',
							icons[i].getAttribute('href').replace('favicon', 'favicon-dark'),
						)
					}
					document.getElementById('mask-icon').setAttribute('color', '#fff')
				}
			})()
		</script>
		<div
			class="sticky inset-x-0 top-0 z-10 border-b border-gray-950/5 dark:border-white/10"
		>
			<div class="bg-white dark:bg-gray-950">
				<div class="flex h-14 items-center justify-between gap-8 px-4 sm:px-6">
					<a class="inline-flex" href="{{ '/' | url }}">
						<div
							class="w-8 h-8 rounded-lg bg-gradient-to-br flex items-center justify-center from-cyan-400 to-sky-500"
						>
							{% include 'logo.njk' %}
						</div>
					</a>
					<div class="flex items-center gap-6">
						<a class="text-sm/6 text-gray-950 dark:text-white" href="/installation/">Docs</a>
						<a aria-label="GitHub repository" href="https://github.com/stormwarning/tailwindcss-opentype"><svg viewBox="0 0 20 20" class="size-5 fill-black/40 dark:fill-gray-400"><path d="M10 0C4.475 0 0 4.475 0 10a9.994 9.994 0 006.838 9.488c.5.087.687-.213.687-.476 0-.237-.013-1.024-.013-1.862-2.512.463-3.162-.612-3.362-1.175-.113-.287-.6-1.175-1.025-1.412-.35-.188-.85-.65-.013-.663.788-.013 1.35.725 1.538 1.025.9 1.512 2.337 1.087 2.912.825.088-.65.35-1.088.638-1.338-2.225-.25-4.55-1.112-4.55-4.937 0-1.088.387-1.987 1.025-2.688-.1-.25-.45-1.274.1-2.65 0 0 .837-.262 2.75 1.026a9.28 9.28 0 012.5-.338c.85 0 1.7.112 2.5.337 1.912-1.3 2.75-1.024 2.75-1.024.55 1.375.2 2.4.1 2.65.637.7 1.025 1.587 1.025 2.687 0 3.838-2.337 4.688-4.562 4.938.362.312.675.912.675 1.85 0 1.337-.013 2.412-.013 2.75 0 .262.188.574.688.474A10.016 10.016 0 0020 10c0-5.525-4.475-10-10-10z"></path></svg></a>
					</div>
				</div>
			</div>

			{% if tags %}
			<div
				class="flex h-14 items-center border-t border-gray-950/5 bg-white px-4 sm:px-6 lg:hidden dark:border-white/10 dark:bg-gray-950"
			>
				<button
					type="button"
					class="relative inline-grid size-7 place-items-center rounded-md text-gray-950 hover:bg-gray-950/5 dark:text-white dark:hover:bg-white/10 -ml-1.5"
					aria-label="Open navigation menu"
					onclick="navDialog.showModal()"
				>
					<span
						class="absolute top-1/2 left-1/2 size-11 -translate-1/2 [@media(pointer:fine)]:hidden"
					></span
					><svg viewBox="0 0 16 16" fill="currentColor" class="size-4">
						<path
							fill-rule="evenodd"
							d="M2 4.75A.75.75 0 0 1 2.75 4h10.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 4.75Zm0 6.5a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1-.75-.75Z"
							clip-rule="evenodd"
						></path>
					</svg>
				</button>

				<ol
					class="sticky ml-4 flex min-w-0 items-center gap-2 text-sm/6 whitespace-nowrap"
				>
					<li class="flex items-center gap-2">
						<span class="text-gray-500 dark:text-gray-400">{{ tags }}</span>
						<svg
							viewBox="0 0 16 16"
							class="size-4 fill-gray-950 dark:fill-gray-500"
						>
							<path
								fill-rule="evenodd"
								d="M6.22 4.22a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06l-3.25 3.25a.75.75 0 0 1-1.06-1.06L8.94 8 6.22 5.28a.75.75 0 0 1 0-1.06Z"
								clip-rule="evenodd"
							></path>
						</svg>
					</li>
					<li class="truncate text-gray-950 dark:text-white">{{ title }}</li>
				</ol>
			</div>
			<dialog id="navDialog" class=" max-h-full h-screen bg-transparent backdrop:bg-white/90 backdrop:dark:bg-gray-950/80">
				<div
					class="bg-white dark:bg-gray-950 border-r border-gray-950/5 dark:border-white/10 sticky top-28.25  bottom-0 left-0 h-full max-h-[calc(100dvh-(var(--spacing)*28.25))] w-2xs overflow-y-auto p-6 pt-6.25"
				>
					{% include 'site-nav.njk' %}
					<div class="absolute top-6 right-6 flex">
						<button
							class="inline-flex rounded-md bg-gray-950/2 px-2 py-0.5 font-sans text-xs/5 text-gray-500 inset-ring inset-ring-gray-950/8 dark:bg-white/4 dark:inset-ring-white/16"
							type="button"
							onclick="navDialog.close()">esc</button>
					</div>
				</div>
			</dialog>
			{% endif %}
		</div>
		<div
			class="grid min-h-dvh grid-cols-1 grid-rows-[1fr_1px_auto_1px_auto] lg:grid-cols-[var(--container-2xs)_2.5rem_minmax(0,1fr)_2.5rem] xl:grid-cols-[var(--container-2xs)_2.5rem_minmax(0,1fr)_2.5rem]"
		>
			<div class="relative col-start-1 row-span-full row-start-1 max-lg:hidden">
				<div class="absolute inset-0">
					<div
						class="sticky top-14.25 bottom-0 left-0 h-full max-h-[calc(100dvh-(var(--spacing)*14.25))] w-2xs overflow-y-auto p-6 pt-10"
					>
						<div>{% include 'site-nav.njk' %}</div>
					</div>
				</div>
			</div>

			<main class="relative row-start-1 grid grid-cols-subgrid lg:col-start-3">
				{{ content | safe }}
			</main>
		</div>

		<script>
			const lightDismiss = ({ target: dialog }) => {
				if (dialog.nodeName === "DIALOG") dialog.close("dismiss");
			}

			if (document.getElementById("navDialog")) {
				navDialog.addEventListener("click", lightDismiss);
			}
		</script>
	</body>
</html>
