<!doctype html>
<html class="antialiased bg-white dark:bg-gray-950" lang="en">
	<head>
		{% include 'site-head.njk' %}
	</head>
	<body class="font-sans" x-data="{ navIsOpen: false }">
		<script>
			;(function () {
				if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
					var icons = document.getElementsByClassName('js-favicon')
					for (var i = 0; i < icons.length; i++) {
						icons[i].setAttribute(
							'href',
							icons[i].getAttribute('href').replace('favicon', 'favicon-dark'),
						)
					}
					document.getElementById('mask-icon').setAttribute('color', '#fff')
				}
			})()
		</script>
		<div
			class="sticky inset-x-0 top-0 z-10 border-b border-gray-950/5 dark:border-white/10"
		>
			<div class="bg-white dark:bg-gray-950">
				<div class="flex h-14 items-center justify-between gap-8 px-4 sm:px-6">
					<a class="inline-flex" href="{{ '/' | url }}">
						<div
							class="w-8 h-8 rounded-lg bg-gradient-to-br flex items-center justify-center from-cyan-400 to-sky-500"
						>
							{% include 'logo.njk' %}
						</div>
					</a>
				</div>
			</div>

			{% if tags %}
			<div
				class="flex h-14 items-center border-t border-gray-950/5 bg-white px-4 sm:px-6 lg:hidden dark:border-white/10 dark:bg-gray-950"
			>
				<button
					type="button"
					class="relative inline-grid size-7 place-items-center rounded-md text-gray-950 hover:bg-gray-950/5 dark:text-white dark:hover:bg-white/10 -ml-1.5"
					aria-label="Open navigation menu"
				>
					<span
						class="absolute top-1/2 left-1/2 size-11 -translate-1/2 [@media(pointer:fine)]:hidden"
					></span
					><svg viewBox="0 0 16 16" fill="currentColor" class="size-4">
						<path
							fill-rule="evenodd"
							d="M2 4.75A.75.75 0 0 1 2.75 4h10.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 4.75Zm0 6.5a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1-.75-.75Z"
							clip-rule="evenodd"
						></path>
					</svg>
				</button>

				<ol
					class="sticky ml-4 flex min-w-0 items-center gap-2 text-sm/6 whitespace-nowrap"
				>
					<li class="flex items-center gap-2">
						<span class="text-gray-500 dark:text-gray-400">{{ tags }}</span>
						<svg
							viewBox="0 0 16 16"
							class="size-4 fill-gray-950 dark:fill-gray-500"
						>
							<path
								fill-rule="evenodd"
								d="M6.22 4.22a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06l-3.25 3.25a.75.75 0 0 1-1.06-1.06L8.94 8 6.22 5.28a.75.75 0 0 1 0-1.06Z"
								clip-rule="evenodd"
							></path>
						</svg>
					</li>
					<li class="truncate text-gray-950 dark:text-white">{{ title }}</li>
				</ol>
			</div>
			{% endif %}
		</div>
		<div
			class="grid min-h-dvh grid-cols-1 grid-rows-[1fr_1px_auto_1px_auto] lg:grid-cols-[var(--container-2xs)_2.5rem_minmax(0,1fr)_2.5rem] xl:grid-cols-[var(--container-2xs)_2.5rem_minmax(0,1fr)_2.5rem]"
		>
			<div class="relative col-start-1 row-span-full row-start-1 max-lg:hidden">
				<div class="absolute inset-0">
					<div
						class="sticky top-14.25 bottom-0 left-0 h-full max-h-[calc(100dvh-(var(--spacing)*14.25))] w-2xs overflow-y-auto p-6 pt-10"
					>
						<div>{% include 'site-nav.njk' %}</div>
					</div>
				</div>
			</div>

			<!-- <div
				class="col-start-2 row-span-5 row-start-1 border-x border-x-(--pattern-fg) bg-[image:repeating-linear-gradient(315deg,_var(--pattern-fg)_0,_var(--pattern-fg)_1px,_transparent_0,_transparent_50%)] bg-[size:10px_10px] bg-fixed [--pattern-fg:var(--color-gray-950)]/5 max-lg:hidden dark:[--pattern-fg:var(--color-white)]/10"
			></div> -->

			<main class="relative row-start-1 grid grid-cols-subgrid lg:col-start-3">
				{{ content | safe }}
			</main>

			<!-- <div
				class="col-start-4 row-span-5 row-start-1 border-x border-x-(--pattern-fg) bg-[image:repeating-linear-gradient(315deg,_var(--pattern-fg)_0,_var(--pattern-fg)_1px,_transparent_0,_transparent_50%)] bg-[size:10px_10px] bg-fixed [--pattern-fg:var(--color-gray-950)]/5 max-lg:hidden dark:[--pattern-fg:var(--color-white)]/10"
			></div> -->
		</div>

		<!-- <div class="w-full max-w-8xl mx-auto">
			<div class="lg:flex">
				<aside
					class="fixed z-40 inset-0 flex-none h-full w-full lg:static lg:h-auto lg:overflow-y-visible lg:pt-0 lg:w-60 xl:w-72 lg:block"
					:class="{ hidden: !navIsOpen }"
					id="sidebar"
					@click="navIsOpen = false"
				>
					<div
						class="h-full overflow-y-auto scrolling-touch lg:h-auto lg:block relative lg:sticky lg:bg-transparent overflow-hidden lg:top-18 bg-white mr-24 lg:mr-0"
						id="navWrapper"
						@click="$event.stopPropagation()"
					>
						{% include 'site-nav.njk' %}
					</div>
				</aside>
				<main
					class="min-w-0 w-full flex-auto lg:static lg:max-h-full lg:overflow-visible"
				>
					<div class="w-full flex">
						<div
							class="min-w-0 flex-auto px-4 sm:px-6 xl:px-8 pt-10 pb-24 lg:pb-16"
						>
							{{ content | safe }}
						</div>
					</div>
				</main>
			</div>
		</div> -->
	</body>
</html>
