---
layout: base
isHome: true
---
<h1 class="sm:text-lg sm:leading-snug font-semibold tracking-wide uppercase text-teal-500 mb-3">
    TailwindCSS-OpenType
</h1>
<h1 class="text-3xl sm:text-5xl lg:text-6xl leading-none font-extrabold text-grey-900 tracking-tight mb-8">
    Tailwind CSS utility classes for advanced typographic features.
</h1>
<p class="max-w-4xl text-lg sm:text-2xl font-medium sm:leading-10 space-y-6 mb-6">
    These utilities help you make the most of the font that you are using &amp;
    make your web typography truly sing.
</p>
<div class="prose">
    {{ content | safe }}
</div>
