---
layout: base
isHome: true
---

<div className="px-4 pt-10 pb-24 sm:px-6 xl:pr-0">
	<p
		class="text-sky-500 dark:text-sky-400 font-mono text-xs/6 font-medium tracking-widest uppercase mb-4"
	>
		TailwindCSS × OpenType
	</p>
	<h1
		class="capsize text-gray-950 dark:text-white text-4xl tracking-tighter text-balance max-lg:font-medium sm:text-5xl lg:text-6xl xl:text-8xl mb-10"
	>
		{{ headline | safe }}
	</h1>
	<p
		class="mb-6 max-w-(--breakpoint-md) text-lg/7 tracking-tight font-medium text-gray-600 dark:text-gray-400"
	>
		{{ subhead | safe }}
	</p>
	<a
		class="inline-block rounded-4xl bg-black px-4 py-2 text-sm/6 font-semibold text-white hover:bg-gray-800 dark:bg-gray-700 dark:hover:bg-gray-600"
		href="/installation/"
	>
		Get started
	</a>
	<div class="prose dark:prose-invert">{{ content | safe }}</div>
</div>
