---
layout: base
isHome: true
---

<div className="px-4 pt-10 pb-24 sm:px-6 xl:pr-0">
	<p
		class="text-sky-500 dark:text-sky-400 font-mono text-sm/6 font-semibold tracking-widest uppercase mb-3 max-2xl:mb-4 sm:text-xs/6"
	>
		TailwindCSS × OpenType
	</p>
	<h1
		class="text-gray-950 dark:text-white text-4xl tracking-tighter text-balance max-lg:font-medium max-sm:px-4 sm:text-5xl lg:text-6xl xl:text-8xl mb-8"
	>
		Tailwind CSS utility classes for advanced typographic features.
	</h1>
	<p
		class="mb-6 max-w-(--breakpoint-md) text-lg/7 font-medium text-gray-600 dark:text-gray-400"
	>
		These utilities help you make the most of the font that you are using &amp;
		make your web typography truly sing.
	</p>
	<div class="prose dark:prose-invert">{{ content | safe }}</div>
</div>
