---
layout: base
---

{% from 'page-header.njk' import header with context %}
{% from 'class-table.njk' import table with context %}

<div
	class="mx-auto grid w-full max-w-2xl grid-cols-1 gap-10 xl:max-w-5xl xl:grid-cols-[minmax(0,1fr)_var(--container-2xs)]"
>
	<div className="px-4 pt-10 pb-24 sm:px-6 xl:pr-0">
		{{ header(title=title, description=description, category=tags) }}

		<div class="prose dark:prose-invert mt-10">
			{% if classData %}
				{{ table(classes[classData]) }}
			{% endif %}

			{{ content | safe }}
		</div>
	</div>

	<div className="max-xl:hidden">
		<div
			className="sticky top-14 max-h-[calc(100svh-3.5rem)] overflow-x-hidden px-6 pt-10 pb-24"
		>
			TOC
		</div>
	</div>
</div>
