{% macro table(classes) %}
	<div class="not-prose relative isolate scroll-mt-16">
		<span class="sr-only">Default class reference</span>
		<div class="w-full overflow-x-auto whitespace-nowrap">
			<table
				class="grid w-full grid-cols-[auto_auto] border-b border-gray-900/10 dark:border-white/10"
			>
				<thead class="col-span-2 grid grid-cols-subgrid">
					<tr class="col-span-2 grid grid-cols-subgrid">
						<th
							class="px-2 py-2.5 text-left text-sm/7 font-semibold text-gray-950 dark:text-white"
						>
							Class
						</th>
						<th
							class="px-2 py-2.5 text-left text-sm/7 font-semibold text-gray-950 dark:text-white"
						>
							Properties
						</th>
					</tr>
				</thead>
				<tbody
					class="col-span-2 grid grid-cols-subgrid border-t border-gray-900/10 dark:border-white/10"
				>
					{% for class, property in classes %}
						<tr
							class="col-span-2 grid grid-cols-subgrid not-last:border-b not-last:border-gray-950/5 dark:not-last:border-white/5"
						>
							<td
								class="px-2 py-2 align-top font-mono text-xs/6 font-medium text-sky-500 dark:text-sky-400"
							>
								<code>{{- class -}}</code>
							</td>
							<td
								class="px-2 py-2 align-top font-mono text-xs/6 text-violet-600 dark:text-violet-400"
							>
								<pre>{{- property -}}</pre>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endmacro %}
