<button
    class="fixed z-50 bottom-4 right-4 w-16 h-16 rounded-full bg-gray-900 text-white block lg:hidden"
    id="menuButton"
    type="button"
    @click="navIsOpen = !navIsOpen"
>
    <span class="sr-only">Toggle site navigation</span>
    <svg
        class="absolute top-1/2 left-1/2 -mt-3 -ml-3 transition duration-300 transform"
        :class="{ 'opacity-0 scale-80': navIsOpen }"
        width="24"
        height="24"
        fill="none"
    >
        <path
            d="M4 8h16M4 16h16"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
        />
    </svg>
    <svg
        class="absolute top-1/2 left-1/2 -mt-3 -ml-3 transition duration-300 transform"
        :class="{ 'opacity-0 scale-80': !navIsOpen }"
        width="24"
        height="24"
        fill="none"
    >
        <path
            d="M6 18L18 6M6 6l12 12"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
        />
    </svg>
</button>
