{% macro header(title='', description, category, border) %}
	<header class="pb-10 {{ 'border-b border-grey-200 mb-10' if border }}">
		<p
			class="flex items-center gap-2 font-mono text-xs/6 font-medium tracking-widest text-gray-600 uppercase dark:text-gray-400"
		>
			{{ category }}
		</p>
		<h1
			class="mt-2 text-3xl font-medium tracking-tight text-gray-950 dark:text-white"
		>
			{{ title }}
		</h1>
		{% if description -%}
			<p class="mt-6 text-base/7 text-gray-700 dark:text-gray-300">
				{{ description }}
			</p>
		{%- endif %}
	</header>
{% endmacro %}
