<nav class="flex flex-col gap-8" id="nav">
	{%- if eleventyNavigation -%}
		{%- set navKey = eleventyNavigation.key -%}
	{%- endif -%}
	<div class="flex flex-col gap-3">
		<h5
			class="font-mono text-sm/6 font-medium tracking-widest text-gray-500 uppercase sm:text-xs/6 dark:text-gray-400"
		>
			Typography
		</h5>
		{{ collections['typography'] | eleventyNavigation | eleventyNavigationToHtml({ listClass: classnames.listClass, listItemClass: classnames.listItemClass, anchorClass: classnames.anchorClass, useAriaCurrentAttr: true, activeKey: navKey }) | safe }}
	</div>

	<div class="flex flex-col gap-3">
		<h5
			class="font-mono text-sm/6 font-medium tracking-widest text-gray-500 uppercase sm:text-xs/6 dark:text-gray-400"
		>
			Font Variants
		</h5>
		{{ collections['font-variant'] | eleventyNavigation | eleventyNavigationToHtml({ listClass: classnames.listClass, listItemClass: classnames.listItemClass, anchorClass: classnames.anchorClass, useAriaCurrentAttr: true, activeKey: navKey }) | safe }}
	</div>

	<div class="flex flex-col gap-3">
		<h5
			class="font-mono text-sm/6 font-medium tracking-widest text-gray-500 uppercase sm:text-xs/6 dark:text-gray-400"
		>
			OpenType Features
		</h5>
		{{ collections['ot-feature'] | eleventyNavigation | eleventyNavigationToHtml({ listClass: classnames.listClass, listItemClass: classnames.listItemClass, anchorClass: classnames.anchorClass, useAriaCurrentAttr: true, activeKey: navKey }) | safe }}
	</div>
</nav>
