@import "tailwindcss";
@config "../../tailwind.config.js";

@layer base {
	@font-face {
		font-family: "Inter var";
		font-weight: 100 900;
		font-style: normal;
		font-named-instance: "Regular";
		src: url(/assets/fonts/Inter-roman.var.woff2) format("woff2");
		font-display: swap;
	}
	@font-face {
		font-family: "Inter var";
		font-weight: 100 900;
		font-style: italic;
		font-named-instance: "Italic";
		src: url(/assets/fonts/Inter-italic.var.woff2) format("woff2");
		font-display: swap;
	}
	@font-face {
		font-family: "Allan";
		font-weight: 400;
		src: url(/assets/fonts/allan-regular.woff2) format("woff2");
		font-display: swap;
	}
	@font-face {
		font-family: "Caflisch Script";
		font-weight: 400;
		src: url(/assets/fonts/caflisch-script-pro-regular.woff2) format("woff2");
		font-display: swap;
	}
	@font-face {
		font-family: "EB Garamond";
		font-weight: 400;
		src: url(/assets/fonts/ebgaramond-semibold.woff2) format("woff2");
		font-display: swap;
	}
	@font-face {
		font-family: "Exo";
		font-weight: 400;
		src: url(/assets/fonts/exo-medium.woff2) format("woff2");
		font-display: swap;
	}
	@font-face {
		font-family: "Hypatia Sans Pro";
		font-weight: 400;
		src: url(/assets/fonts/hypatia-sans-pro-bold.woff2) format("woff2");
		font-display: swap;
	}
	@font-face {
		font-family: "Sorts Mill Goudy";
		font-weight: 400;
		src: url(/assets/fonts/sorts-mill-goudy-regular.woff2) format("woff2");
		font-display: swap;
	}
	@font-face {
		font-family: "Warnock Pro";
		font-weight: 400;
		src: url(/assets/fonts/warnock-pro-bold.woff2) format("woff2");
		font-display: swap;
	}

	:root {
		color-scheme: light dark;
	}
}

@layer utilities {
	.code-sample p {
		margin: 0;
	}
	.code-sample mark {
		color: light-dark(theme("colors.cyan.600"), theme("colors.cyan.400"));
		background: none;
	}

	.code-highlight {
		border-radius: 0.1875rem;
		padding: 0.0625rem 0.1875rem;
		margin: 0 -0.1875rem;
		background-color: color-mix(in srgb, currentColor, transparent 70%);
	}
}
